<launch>

  <!-- The world argument defaults to the empty world -->
  <arg name="world" default="$(find my_gazebo_worlds)/worlds/empty.world" />

  <!-- Extra arguments for gazebo, for example "-g" for no GUI, "-r" for no rendering -->
  <arg name="args" default="" />

  <!-- Setting this to true in the parameter server tells everyone to use simulated time -->
  <param name="/use_sim_time" value="true" />

  <!--
    Start a gazebo node with given arguments and world file.  Note that the node name must be
    gazebo if the spawn_model script from the gazebo package is used.
  -->
  <node
    name="gazebo"
    pkg="gazebo"
    type="gazebo"
    args="$(arg args) $(arg world)"
    respawn="false"
    output="screen"
  />

</launch>
