<launch>

  <!-- Required general arguments -->
  <arg name="driver_name" />
  <arg name="model_name" />

  <!-- Launch node -->
  <node
    name="$(arg driver_name)"
    pkg="my_gazebo_drivers"
    type="gazebo_ros_diffdrive"
    respawn="false"
    output="screen"
    >
    <param name="model_name"      value="$(arg model_name)" />
  </node>

</launch>
