<launch>


  <!-- ================================================ -->
  <!-- Which robots to create                           -->
  <!-- ================================================ -->
  <arg name="create_pioneer3dx" default="true" />
  <arg name="create_erratic"    default="false" />
  <arg name="create_pioneer2dx" default="false" />
  <arg name="create_pr2"        default="false" />


  <!-- ================================================ -->
  <!-- Teleop type                                      -->
  <!-- ================================================ -->
  <arg name="teleop_type"       default="auto" />


  <!-- ================================================ -->
  <!-- Create the world                                 -->
  <!-- ================================================ -->
  <include file="$(find my_gazebo_worlds)/launch/gazebo_world_ecsc.launch" />


  <!-- ================================================ -->
  <!-- Create a pioneer3dx robot in it's own namespace  -->
  <!-- ================================================ -->
  <group ns="pioneer3dx_1" if="$(arg create_pioneer3dx)" >

    <!-- Names for gazebo models (must be globally unique) -->
    <arg name="model_name"                        value="pioneer3dx_1_model" />

    <!-- Names for nodes (must be unique within namespace) -->
    <!-- arg name="base_driver_node"                  value="base_driver" / -->
    <arg name="teleop_source_node"                value="teleop_source" />
    <arg name="teleop_sink_node"                  value="teleop_sink" />

    <!-- Names for gazebo plugin "virtual" nodes -->
    <arg name="gazebo_ros_diffdrive_plugin_node"  value="gazebo_ros_diffdrive_plugin" />

    <!-- Names for common topics (must be unique within namespace) -->
    <arg name="teleop_topic"                      value="$(arg teleop_source_node)/teleop" />
    <arg name="twist_topic"                       value="$(arg teleop_sink_node)/cmd_vel" />
    <arg name="odom_topic"                        value="$(arg gazebo_ros_diffdrive_plugin_node)/odom" />

    <!-- Parameters for gazebo plugins -->
    <param name="$(arg gazebo_ros_diffdrive_plugin_node)/command_topic" value="$(arg twist_topic)" />
    <param name="$(arg gazebo_ros_diffdrive_plugin_node)/odom_topic"    value="$(arg odom_topic)" />

    <!-- Create the simulated robot (and plugins) -->
    <include file="$(find my_gazebo_robots)/launch/gazebo_robot_pioneer3dx.launch" >
      <arg name="model_name" value="$(arg model_name)" />
      <arg name="x"          value="1" />
      <arg name="y"          value="1" />
    </include>

    <!-- Start a base driver -->
    <!-- node
      name="$(arg base_driver_node)"
      pkg="my_gazebo_drivers"
      type="gazebo_ros_diffdrive"
      respawn="false"
      output="screen"
      >
      <param name="model_name"    value="$(arg model_name)"  />
      <param name="command_topic" value="$(arg twist_topic)" />
      <param name="odom_topic"    value="$(arg odom_topic)" />
    </node -->

    <!-- Start a teleop source -->
    <node
      name="$(arg teleop_source_node)"
      pkg="teleop_ros"
      type="teleop_source_node"
      respawn="false"
      output="screen"
      >
      <param name="teleop_topic" value="$(arg teleop_topic)" />
      <param name="teleop_type"  value="$(arg teleop_type)"  />
    </node>

    <!-- Start a teleop sink which reads from the teleop source and writes to the simulated robot -->
    <node
      name="$(arg teleop_sink_node)"
      pkg="teleop_ros"
      type="teleop_sink_twist_node"
      respawn="false"
      output="screen"
      >
      <param name="teleop_topic"    value="$(arg teleop_topic)" />
      <param name="twist_topic"     value="$(arg twist_topic)" />

      <param name="has_lin_x"       value="1" />
      <param name="max_lin_x"       value="0.5" />
      <param name="min_lin_x"       value="-0.5" />
      <param name="quadratic_lin_x" value="1" />
      <param name="throttle_lin_x"  value="1" />

      <param name="has_rot_z"       value="1" />
      <param name="max_rot_z"       value="0.8" />
      <param name="min_rot_z"       value="-0.8" />
      <param name="quadratic_rot_z" value="0" />
      <param name="throttle_rot_z"  value="0" />
    </node>

  </group>


  <!-- ================================================ -->
  <!-- Create an erratic robot in it's own namespace     -->
  <!-- ================================================ -->
  <group ns="erratic_1_namespace" if="$(arg create_erratic)" >

    <!-- Create a unique name for the gazebo robot model -->
    <arg name="model_name" value="erratic_1_name" />

    <!-- Create the robot -->
    <include file="$(find my_gazebo_robots)/launch/gazebo_robot_erratic.launch" >
      <arg name="model_name"  value="$(arg model_name)" />
      <arg name="x"           value="2"                 />
      <arg name="y"           value="2"                 />
    </include>

  </group>


  <!-- ================================================ -->
  <!-- Create a pioneer2dx robot in it's own namespace   -->
  <!-- ================================================ -->
  <group ns="pioneer2dx_1_namespace" if="$(arg create_pioneer2dx)" >

    <!-- Create a unique name for the gazebo robot model -->
    <arg name="model_name" value="pioneer2dx_1_name" />

    <!-- Create the robot -->
    <include file="$(find my_gazebo_robots)/launch/gazebo_robot_pioneer2dx.launch" >
      <arg name="model_name"  value="$(arg model_name)" />
      <arg name="x"           value="3"                 />
      <arg name="y"           value="7"                 />
    </include>

  </group>


  <!-- ================================================ -->
  <!-- Create a pr2 robot in it's own namespace          -->
  <!-- ================================================ -->
  <group ns="pr2_1_namespace" if="$(arg create_pr2)" >

    <!-- Create a unique name for the gazebo robot model -->
    <arg name="model_name" value="pr2_1_name" />

    <!-- Create the robot -->
    <include file="$(find my_gazebo_robots)/launch/gazebo_robot_pr2.launch" >
      <arg name="model_name"  value="$(arg model_name)" />
      <arg name="x"           value="2"                 />
      <arg name="y"           value="11"                />
    </include>

  </group>

</launch>
