<launch>

  <!-- ================================================ -->
  <!-- Which robots to create                           -->
  <!-- ================================================ -->
  <arg name="create_pioneer3dx" default="true" />
  <arg name="create_erratic"    default="false" />
  <arg name="create_pioneer2dx" default="false" />
  <arg name="create_pr2"        default="false" />


  <!-- ================================================ -->
  <!-- Create the world                                 -->
  <!-- ================================================ -->
  <include file="$(find my_gazebo_worlds)/launch/gazebo_world_ecsc.launch" />


  <!-- ================================================ -->
  <!-- Spawn a pioneer3dx robot in it's own namespace   -->
  <!-- ================================================ -->
  <group ns="pioneer3dx_1_namespace" if="$(arg create_pioneer3dx)" >

    <!-- Create a unique name for the gazebo robot model -->
    <arg name="model_name"        value="pioneer3dx_1_name" />

    <!-- Create the robot -->
    <include file="$(find my_gazebo_robots)/launch/gazebo_robot_pioneer3dx.launch" >
      <arg name="model_name"      value="$(arg model_name)" />
      <arg name="x"               value="1" />
      <arg name="y"               value="8" />
    </include>

    <!-- Start the driver for the robot base -->
    <include file="$(find my_gazebo_drivers)/launch/gazebo_driver_diffdrive.launch" >
      <arg name="driver_name"     value="base_driver" />
      <arg name="model_name"      value="$(arg model_name)" />
    </include>

  </group>


  <!-- ================================================ -->
  <!-- Spawn an erratic robot in it's own namespace     -->
  <!-- ================================================ -->
  <group ns="erratic_1_namespace" if="$(arg create_erratic)" >

    <!-- Create a unique name for the gazebo robot model -->
    <arg name="model_name" value="erratic_1_name" />

    <!-- Create the robot -->
    <include file="$(find my_gazebo_robots)/launch/gazebo_robot_erratic.launch" >
      <arg name="model_name"  value="$(arg model_name)" />
      <arg name="x"           value="2"                 />
      <arg name="y"           value="2"                 />
    </include>

  </group>


  <!-- ================================================ -->
  <!-- Spawn a pioneer2dx robot in it's own namespace   -->
  <!-- ================================================ -->
  <group ns="pioneer2dx_1_namespace" if="$(arg create_pioneer2dx)" >

    <!-- Create a unique name for the gazebo robot model -->
    <arg name="model_name" value="pioneer2dx_1_name" />

    <!-- Create the robot -->
    <include file="$(find my_gazebo_robots)/launch/gazebo_robot_pioneer2dx.launch" >
      <arg name="model_name"  value="$(arg model_name)" />
      <arg name="x"           value="3"                 />
      <arg name="y"           value="7"                 />
    </include>

  </group>


  <!-- ================================================ -->
  <!-- Spawn a pr2 robot in it's own namespace          -->
  <!-- ================================================ -->
  <group ns="pr2_1_namespace" if="$(arg create_pr2)" >

    <!-- Create a unique name for the gazebo robot model -->
    <arg name="model_name" value="pr2_1_name" />

    <!-- Create the robot -->
    <include file="$(find my_gazebo_robots)/launch/gazebo_robot_pr2.launch" >
      <arg name="model_name"  value="$(arg model_name)" />
      <arg name="x"           value="2"                 />
      <arg name="y"           value="11"                />
    </include>

  </group>

</launch>
