<launch>

  <!-- Gazebo -->
  <include file="gazebo.launch">
    <arg name="world" value="$(find my_gazebo_worlds)/worlds/empty.world" />
  </include>

  <!-- Walls -->
  <node
    name="spawn_walls"
    pkg="gazebo"
    type="spawn_model"
    args="-gazebo -model walls -file $(find my_gazebo_worlds)/models/ecsc.model"
    respawn="false"
    output="screen"
  />

  <!-- This converts the pioneer from urdf.xacro to urdf and load it in the parameter server -->
  <!-- Try pioneer3dx.urdf.xacro? -->
  <param name="robot" command="$(find xacro)/xacro.py $(find p2os_urdf)/defs/pioneer3dx.xacro" />

  <!-- Spawn robot -->
  <node
    name="spawn_robot"
    pkg="gazebo"
    type="spawn_model"
    args="-x 3 -y 3 -z 0.05 -urdf -param robot -model robot"
    respawn="false"
    output="screen"
  />

  <!-- Controller Manager
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />
  -->
  <!-- load controllers
  <node name="diffdrive" pkg="gazebo_plugins" type="gazebo_ros_diffdrive" respawn="true" output="screen"/>
  -->
</launch>
